In [18]:
import pandas as pd

df = pd.read_csv("train.csv")

print("First 5 Rows")
display(df.head())

print("Last 5 Rows")
display(df.tail())

numerical_cols = ['PassengerId','Survived','Pclass','Age','SibSp','Parch','Fare']
categorical_cols = ['Sex','Ticket','Cabin','Embarked']
ordinal_cols = ['Pclass']
binary_cols = ['Sex','Survived']

print("Numerical Columns:")
display(df[numerical_cols].head())

print("Categorical Columns:")
display(df[categorical_cols].head())

print("Ordinal Columns:")
display(df[ordinal_cols].tail())

print("Binary Columns:")
display(df[binary_cols].head())

info_table = pd.DataFrame({
    "Column": df.columns,
    "Non-Null Count": df.notnull().sum().values,
    "Data Type": df.dtypes.values
})
print("Dataset Info")
display(info_table)

print("Dataset Description")
display(df.describe(include="all"))

unique_summary = pd.DataFrame({
    "Column": categorical_cols,
    "Unique Values Count": [df[col].nunique(dropna=False) for col in categorical_cols]
})
print("\nSummary of Unique Values Count:")
display(unique_summary)

target_variable = "Survived"
print("\nTarget Variable:", target_variable)

input_features = df.drop(columns=[target_variable]).columns.tolist()
print("Input Features:", input_features)

num_rows, num_cols = df.shape
print("Dataset Size:")
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

print("Missing Values")
display(df.isnull().sum().to_frame("Missing Count"))

print("Survived Distribution")
display(df["Survived"].value_counts().to_frame("Count"))

First 5 Rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Last 5 Rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

Numerical Columns:

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

Categorical Columns:

      Sex            Ticket Cabin Embarked
0    male         A/5 21171   NaN        S
1  female          PC 17599   C85        C
2  female  STON/O2. 3101282   NaN        S
3  female            113803  C123        S
4    male            373450   NaN        S

Ordinal Columns:

     Pclass
886       2
887       1
888       3
889       1
890       3

Binary Columns:

      Sex  Survived
0    male         0
1  female         1
2  female         1
3  female         1
4    male         0

Dataset Info

         Column  Non-Null Count Data Type
0   PassengerId             891     int64
1      Survived             891     int64
2        Pclass             891     int64
3          Name             891    object
4           Sex             891    object
5           Age             714   float64
6         SibSp             891     int64
7         Parch             891     int64
8        Ticket             891    object
9          Fare             891   float64
10        Cabin             204    object
11     Embarked             889    object

Dataset Description

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Dooley, Mr. Patrick",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

Summary of Unique Values Count:

     Column  Unique Values Count
0       Sex                    2
1    Ticket                  681
2     Cabin                  148
3  Embarked                    4

Target Variable: Survived
Input Features: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Dataset Size:
Number of rows: 891
Number of columns: 12
Missing Values

             Missing Count
PassengerId              0
Survived                 0
Pclass                   0
Name                     0
Sex                      0
Age                    177
SibSp                    0
Parch                    0
Ticket                   0
Fare                     0
Cabin                  687
Embarked                 2

Survived Distribution

          Count
Survived
0           549
1           342

In [2]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv