In [3]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

print("First 5 Rows")
display(df.head())

print("Last 5 Rows")
display(df.tail())

numerical_cols = ['math score', 'reading score', 'writing score']
categorical_cols = [
    'gender',
    'race/ethnicity',
    'parental level of education',
    'lunch',
    'test preparation course'
]
ordinal_cols = ['parental level of education']
binary_cols = ['gender', 'lunch', 'test preparation course']

print("Numerical Columns:")
display(df[numerical_cols].head())

print("Categorical Columns:")
display(df[categorical_cols].head())

print("Ordinal Columns:")
display(df[ordinal_cols].tail())

print("Binary Columns:")
display(df[binary_cols].head())

info_table = pd.DataFrame({
    "Column": df.columns,
    "Non-Null Count": df.notnull().sum().values,
    "Data Type": df.dtypes.values
})
print("Dataset Info")
display(info_table)

print("Dataset Description")
display(df.describe(include="all"))

unique_summary = pd.DataFrame({
    "Column": categorical_cols,
    "Unique Values Count": [
        df[col].nunique(dropna=False) for col in categorical_cols
    ]
})
print("\nSummary of Unique Values Count:")
display(unique_summary)

target_variable = "math score"
print("\nTarget Variable:", target_variable)

input_features = df.drop(columns=[target_variable]).columns.tolist()
print("Input Features:", input_features)

num_rows, num_cols = df.shape
print("Dataset Size:")
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

print("Missing Values")
display(df.isnull().sum().to_frame("Missing Count"))

print("Math Score Distribution")
display(df["math score"].describe().to_frame("Statistics"))

First 5 Rows

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Last 5 Rows

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Numerical Columns:

   math score  reading score  writing score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

Categorical Columns:

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
4,male,group C,some college,standard,none

Ordinal Columns:

    parental level of education
995             master's degree
996                 high school
997                 high school
998                some college
999                some college

Binary Columns:

   gender         lunch test preparation course
0  female      standard                    none
1  female      standard               completed
2  female      standard                    none
3    male  free/reduced                    none
4    male      standard                    none

Dataset Info

                        Column  Non-Null Count Data Type
0                       gender            1000    object
1               race/ethnicity            1000    object
2  parental level of education            1000    object
3                        lunch            1000    object
4      test preparation course            1000    object
5                   math score            1000     int64
6                reading score            1000     int64
7                writing score            1000     int64

Dataset Description

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

Summary of Unique Values Count:

                        Column  Unique Values Count
0                       gender                    2
1               race/ethnicity                    5
2  parental level of education                    6
3                        lunch                    2
4      test preparation course                    2

Target Variable: math score
Input Features: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'reading score', 'writing score']
Dataset Size:
Number of rows: 1000
Number of columns: 8
Missing Values

                             Missing Count
gender                                   0
race/ethnicity                           0
parental level of education              0
lunch                                    0
test preparation course                  0
math score                               0
reading score                            0
writing score                            0

Math Score Distribution

       Statistics
count  1000.00000
mean     66.08900
std      15.16308
min       0.00000
25%      57.00000
50%      66.00000
75%      77.00000
max     100.00000

In [2]:
from google.colab import files
uploaded = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv